/*CSS by Captainpast*/

div div.elem {
  cursor: url('/data/grab.png') 12.5 12.5, grab;
  height: 30px;
  width: 140px;
  margin: 10px;
  border-style: solid;
  border-radius: 5px;
  border-width: 2px;
  text-align: center;
}

div div.elem p {
  margin: 5px;
  font-size: 16px;
}

div div.elem.normal {
  background-color: #626262;
  border-color: #0088ff;
}

div div.elem.special {
  background-color: #626262;
  border-color: #9060ff;
}

div#hz3 h2 {
  color: #000000;
  margin: 0;
  padding: 10px;
  padding-bottom: 2px;
  background: #e1e1e1;
  cursor: grab;
}

div#hz3 h4 {
  color: #000000;
  margin: 8px 14px;
}
div#hz3 button#elem-delete {
  margin: 6px 10px;
  background-color: #626262;
  padding: 4px;
  border-radius: 5px;
  border-style: none;
  min-width: 26px;
  height: 26px;
  font-size: 16px;
  color: #fb0303;
  display: block;
}
div#hz3 button.children {
  margin: 1px 0;
  background-color: #ffffff;
  padding: 2px;
  border: none;
  color: #000000;
  font-size: 16px;
  width: 100%;
  overflow: hidden;
}

div#hz3 button.parentElement {
  margin: 1px 0;
  background-color: #ffffff;
  padding: 2px;
  border: none;
  color: #000000;
  font-size: 16px;
  width: 100%;
  overflow: hidden;
  text-align: left;
}
div#hz3 button.parentElement::before {
  content: "< ";
}

div#hz3 button#attri-add {
  margin: 9px;
  background-color: #626262;
  padding: 2px;
  border-radius: 5px;
  border-style: none;
  color: #000000;
  transition: color 0.5s;
  width: 26px;
  height: 26px;
  font-size: 16px;
  position: absolute;
  right: 5px;
  bottom: 5px;
  color: #03ff03;
  font-weight: bold;
}

form#elem-attri {
  margin: 0 15px;
}

form#elem-attri span {
  color: #000000;
  font-size: 16px;
  padding: 0 2px;
  text-align: center;
  overflow: hidden;
}

form#elem-attri input {
  padding: 1px;
  margin-bottom: 4px;
  font-size: 14px;
  border: none;
  width: 100%;
  border-bottom: #00aeff solid 1px;
}
form#elem-attri input:focus {
  border-bottom-width: 2px;
}
form#elem-attri input::selection, form#elem-attri textarea::selection {
  background-color: #af59ff;
}

form#elem-attri textarea {
  padding: 1px;
  margin-bottom: 4px;
  font-size: 14px;
  border: none;
  width: 100%;
  resize: vertical;
}

div#hz2 * {
  color: #000000;
}

div.windowBody button.we-elem-re-button {
  background-color: #cf0000;
  padding: 4px;
  border-radius: 5px;
  border-style: none;
  min-width: 26px;
  height: 26px;
  font-size: 16px;
  color: #000000;
  display: inline-block;
}

div.windowBody button.we-elem-ca-button {
  background-color: #ababab;
  padding: 4px;
  border-radius: 5px;
  border-style: none;
  min-width: 26px;
  height: 26px;
  font-size: 16px;
  color: #000000;
  display: inline-block;
  position: relative;
  right: -140px;
}
